{
	admin 0.0.0.0:2019
	auto_https off
}

:443 {
	tls /certs/cert.pem /certs/key.pem
	encode gzip
	reverse_proxy web:3000
}

:80 {
	handle /.well-known/acme-challenge/* {
		root * /var/www/certbot
		file_server
	}
	handle {
		redir https://{host}{uri} permanent
	}
}
